<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <h1 style="color:white">Angular CRUD</h1>
        <div class="d-flex">
            <button type="button" class="btn btn-primary p-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
        </div>
    </div>
</nav>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>100</td>
            <td>Daniel</td>
            <td>Suhrobov</td>
            <td>ield@email.com</td>
            <td>+1 267-344-9734</td>
            <td>$100,000</td>
            <td>
                <button class="btn btn-light">Edit</button>
                <button class="btn btn-dark mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employees Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup] = "formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="firstName">
                 
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label" formControlName="lastName">Last name</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label" formControlName="mobile">mobile</label>
                  <input type="mobile" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label" formControlName="salary">Salary</label>
                  <input type="number" class="form-control" id="exampleInputPassword1">
                </div>

              </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  

